/* SubjectList.css */

.subject-list-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .subject-list-container h1 {
    color: #333;
    text-align: center;
  }
  
  .subject-list-container ul {
    list-style: none;
    padding: 0;
  }
  
  .subject-list-container li {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 400px;
  }
  
  .subject-list-container li:hover {
    background-color: #e0e0e0;
  }
  
  .subject-list-container li span {
    font-weight: bold;
    color: #333;
  }
  
  .subject-list-container li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .listdiv{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
  }

  .remove_button{
    height: 50px;
    border-radius: 5px;
    background-color: #199bd3;
  }
