.admin-main-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
/* Center content vertically */
  height: 100vh;
  background: #d2e1e6;
}

.tabbed-interface {
  width: 100%;
  max-width: 1000px;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  margin-left: 1.5rem;
}

.tab-list-con {
  list-style: none;
  padding: 0;
  display: flex;
  border: none;
  border-bottom: none;
}

.tabs {
  flex: 1; /* Distribute tabs evenly */
  padding: 10px 20px;
  background-color: #107dac; /* Update the tab background color */
  color: white; /* Update the tab text color */
  border: solid 1px white; /* Update the tab border color */
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 800px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  gap: 1rem;
}

.tabs:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

.tab-panel-con {
  padding: 20px;
  border: none;
  border-top: none; /* Remove top border for the tab content */
  border-bottom: none;

}

