.mngschedule-container {
  background-color: #d2e1e6;
  height: 100vh; /* Set the height to fill the viewport */
 
}

.mng-con {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
  height: 500px;
  justify-content: center;
}

.addeventcon {

}