.room-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .Card {
    
    padding: 10px;
    margin: 10px;
  }
  .bookBTN-container{
    margin-top: 0.5rem;
    gap: 2rem;
  }
  .cardDeletekBTN{
    background: rgb(228, 43, 43);
    height: 2rem;
    border-radius: 3px;
  }
  .cardEditBTN{
    background: rgb(49, 49, 228);
    height: 2rem;
    border-radius: 3px;
  }
  .addroom-container{
    margin: 2rem;
    
  }
  .addBTN{
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    justify-content: center;
    background: royalblue;
  }
 .card-time-con{
  display: flex;
  gap: 2rem;
  margin: 10px;
 }
 .room-prof-container{
  display: flex;
  gap: 2rem;
  margin: 10px;
 }
 .floor-capacity-con{
  display: flex;
  gap: 2rem;

 }