.mngschedule-container {
  background-color: #d2e1e6;
  height: 100vh; /* Set the height to fill the viewport */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mng-con {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
  height: 500px;
}
